<!DOCTYPE html>
<html>
  <head>
    <title>ReportReader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="section">
      <%= render 'shared/nav' %>
    </header>
    <main class='main'>
      <%= render 'shared/notice' %>
      <%= yield %>
    </main>
  </body>
</html>
